footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .texto {
    margin-bottom: 10px;
}

footer .texto p {
    margin: 0;
    font-size: 1.1rem;
}

footer .social-icons {
    display: flex;
    gap: 15px;
}

footer .social-icons a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #1da1f2;

}

footer .social-icons a[aria-label="Facebook"]:hover {
    color: #3b5998;

}

footer .social-icons a[aria-label="Instagram"]:hover {
    color: #e4405f;
}