@if (publicacion) {
<section class="detalle">
    <div class="container">
        <h2>{{publicacion.titulo}}</h2>
        <div class="versionDesktop">
            <img src="{{publicacion.imagen}}" alt="">
            <p>{{publicacion.texto}}</p>
        </div>
        <div class="flex">
            <p><span>Autor: </span>{{publicacion.autor}}</p>
            <p><span>Fecha publicación: </span>{{publicacion.fecha | date: 'dd/MM/yyyy'}}</p>
        </div>
    </div>
</section>}@else{
<section class="detalle">
    <div class="container">
        <h2>{{getpostPublicacion()?.titulo}}</h2>
        <div class="versionDesktop">
            <img src="{{getpostPublicacion()?.imagen}}" alt="">
            <p>{{getpostPublicacion()?.texto}}</p>
        </div>
        <div class="flex">
            <p><span>Autor: </span>{{getpostPublicacion()?.autor}}</p>
            <p><span>Fecha publicación: </span>{{getpostPublicacion()?.fecha | date: 'dd/MM/yyyy'}}</p>
        </div>
    </div>
</section>
}