.detalle {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: var(--primary-font);
    color: white;
}

.detalle .container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.detalle h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-size: 3rem;
}

.detalle img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 2px solid white;
}

.detalle p {
    line-height: 1.6;
    margin-bottom: 10px;

    span {
        font-weight: bold;
    }
}

.detalle .flex {
    display: flex;

    align-items: center;
    gap: 20px;
}

.detalle .flex>* {
    flex: 1;
    text-align: center;
}