<section>
    <div class="formulario mb-5">
        <form>
            <div class="mb-4">
                <label class="form-label">Título de la publicación:</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-4">
                <label class="form-label">Texto de la publicación:</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="mb-4">
                <label class="form-label">Imagen del blog:</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-4">
                <label class="form-label text-light">Categoria del blog:</label>
                <select class="form-control">
                    <option value="">Selecciona una opción:</option>
                    <option value="playa">Playa</option>
                    <option value="montaña">Montaña</option>
                    <option value="ciudad">Ciudad</option>
                    <option value="ciudad">Rural</option>
                    <option value="festivales">Festivales</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="form-label text-light">Fecha de publicación:</label>
                <input type="date" class="form-control">
            </div>
            <div class="text-center">
                <input type="submit" value="Envia tu publicación" class="boton">
            </div>
        </form>
    </div>
</section>