<header>
    <div class="top">
        <div class="container">
            <h2>Viajar es vivir, vivamos viajando</h2>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <ul>
                <li [routerLink]="['/home']"><i class="fas fa-home"></i> HOME</li>
                <li [routerLink]="['/new']"><i class="fas fa-plane-departure"></i> AGREGA TU VIAJE</li>
                <li [routerLink]="['/post']"><i class="fa-solid fa-earth-americas"></i> POSTS</li>
            </ul>
        </div>
    </div>
</header>