<section class="container wrapper">
    <div class="hero">
        <h1>Explorando el Mundo: Comparte tus Aventuras</h1>
        <p>Bienvenidos a nuestro blog de viajes. Aquí podrás descubrir mis aventuras y compartir tus propios viajes.
            Únete a
            nuestra comunidad y celebra la magia de conocer el mundo. ¡Comparte tu historia!</p>
        <button>Comparte tu aventura</button>
    </div>
</section>
<section class="galeria">
    <h2>Mis aventuras:</h2>
    <div class="grid">
        <article class="post">
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">
            <h3>Título del Artículo</h3>
        </article>
        <article class="post">
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">
            <h3>Título del Artículo</h3>
        </article>
        <article class="post">
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">
            <h3>Título del Artículo</h3>
        </article>
        <article class="post">
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">
            <h3>Título del Artículo</h3>
        </article>
        <article class="post">
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">
            <h3>Título del Artículo</h3>
        </article>
        <article class="post">
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">
            <h3>Título del Artículo</h3>
        </article>
        <article class="post">
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">
            <h3>Título del Artículo</h3>
        </article>
        <article class="post">
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">
            <h3>Título del Artículo</h3>
        </article>
    </div>
</section>