<section class="container wrapper">
    <div class="hero">
        <h1>Explorando el Mundo: Comparte tus Aventuras</h1>
        <p>Bienvenidos a nuestro blog de viajes. Aquí podrás descubrir mis aventuras y compartir tus propios viajes.
            Únete a
            nuestra comunidad y celebra la magia de conocer el mundo. ¡Comparte tu historia!</p>
        <button [routerLink]="['/new']">Comparte tu aventura</button>
    </div>
</section>
<section class="galeria container">
    <h2>Mis aventuras:</h2>
    <div>
        <label for="categoria">Selecciona una categoría:</label>
        <select id="categoria" (change)="onCategoriaSeleccionada($event)">
            <option value="Todas">Todas</option>
            <option value="Aventura">Aventura</option>
            <option value="Playas">Playas</option>
            <option value="Cultura">Cultura</option>
            <option value="Naturaleza">Naturaleza</option>
            <option value="Gastronomía">Gastronomía</option>
        </select>
    </div>
    <div class="grid">
        @for (publicacion of publicaciones; track $index) {
        <article>
            <img src="{{publicacion.imagen}}" alt="">
            <a>Ver detalle</a>
            <h3>{{publicacion.titulo}}</h3>
        </article>
        }
    </div>
</section>